:root {
    --color-one: #2a3032;
    --color-two: #52040b;
    --color-three: #edf10c;
    --color-four: #f57c00;
    --shadow-one: 3px 5px 3px var(--color-four);
}

body {
    background-color: var(--color-two);
    margin: 0;
    width: 0;
    box-sizing: border-box;
    padding: 0 50px;
    height: 100vh;
    width: 100vw;
    font-family: 'Work Sans', sans-serif;
}

#content {
    background-color: var(--color-one);
    padding: 2rem;
}

h1 {
    font-weight: 600;
    border-radius: 5px;
    padding: 1rem;
    margin: 0;
    background-color: var(--color-two);
    text-align: center;
    box-shadow: var(--shadow-one);
}

nav {
    border-radius: 5px;
    margin-top: 2rem;
    background-color: var(--color-two);
    display: grid;
    grid-template-rows: 1fr 1fr;
    row-gap: 0.5rem;
    justify-items: center;
    box-shadow: var(--shadow-one);
}

nav h3 {
    font-weight: 600;
    margin: 0;
    grid-row: 1 / 2;
    align-self: end;
    font-size: 1.7rem;
}

nav ul {
    align-self: start;
    padding: 0;
    width: 100%;
    list-style-type: none;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row: 1fr;
    justify-items: center;
}

nav ul li {
    width: 60%;
    text-align: center;
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--color-three);
    transition: all 0.3s ease-in-out;
}

nav ul li:hover {
    scale: 1.4;
    text-decoration: underline;
}

.home {
    background-color: var(--color-four);
    scale: 1.4;
    text-decoration: underline;
    border-radius: 10px;
}


.main-image {
    margin-top: 2rem;
    width: 100%;
    border-radius: 5px;
}